
<section class="page fadein">
	<!-- Listado de POTS Last id={{lastPostId}}-->
	<div class="centrado">
		<div class="txtleft mitad izquierda">
			<h2>Editor panel</h2>
				<span><b>{{postList.length}} posts per page </b></span>
			
			
		</div>

		<div class="txtright mitad derecha">
			
			<button ng-click="getPrevPostGroup('4',actualpage,'postList')"><i class="icon-arrow-right"></i></button>
			<button><b>{{actualpage+1}} of {{totalpages}}</b></button>
			<button ng-click="getNextPostGroup('4',actualpage,'postList')"><i class="icon-arrow-left"></i></button>
			

			<button class="bt-blue" ng-click="newpost(lastPostId)"><i class="icon-plus"></i>NEW POST</button> 
			
			
		</div>

		<table class="centrado block white">
			<tr class="txtcenter">
				<td>id</td> 
				<td>category</td> 
				<td>title</td> 
				<td>author</td> 
				<td>dateCreated</td> 
				<td> Edit </td>
				<td> Delete </td>
			</tr>
			<tr ng-repeat="post in postList" class="txtcenter">
				<td>{{post.id}}</td>
				<td>{{post.category}}</td> 
				<td>{{post.title}}</td>
				<td>{{post.author}}</td> 
				<td>{{post.dateCreated | date:'dd/MM/yyyy'}}</td> 
				<td> <button ng-click="loadpost(post.id)"> <i class="icon-pencil"></i>Edit</button> </td>
				<td> <button ng-click="deletepost(post.id)"><i class="icon-remove"></i>Delete</button> </td>
			</tr>
		</table>
	</div>

		
	<form class="centrado block" name="datos" ng-model="data">					
		<article class="htmlSide mitad izquierda block white">
			<ul class="block">
				<li>
					<label>Id: {{post.id}}</label>   
				</li>
				<li>
					<label>Category:</label>
					<input ng-model="post.category">
				</li>
				<li>
					<label>Title:</label> 
					<input ng-model="post.title">
				</li>
				<li>
					<label>Author:</label>
					<input ng-model="post.author">
				</li>
			</ul>
			<div>
				<h3 class="txtblue">CSS</h3>
				<textarea  class="cssCoding block" placeholder="Add your custom css here" ng-model="post.css"> </textarea>
				<h3 class="txtblue">HTML</h3>
				<textarea class="htmlCoding block"  placeholder="Html template will be loaded here" ng-model="post.content"> </textarea>
			</div>		
		</article>
	
				
				<!-- POST config-->
		<article class="previewSide mitad derecha block white">
			<p class="txtcenter"><a target="blanck" ng-href="http://alextnodeblog.eu01.aws.af.cm/#/post/{{post.id}}">http://alextnodeblog.eu01.aws.af.cm/#/post/{{post.id}}</a></p>
			<ul class="block">
				<button ng-init="view='content'" ng-click="view='coments' " ng-show="view=='content' ">Show Comments ({{post.comments.length}})</button>
				<button ng-click="view='content' " ng-show="view=='coments' ">Show Content</button>
				
				<li>id: {{post.id}}</li>
				<li>category: {{post.category}}</li>
				<li>title: {{post.title}}</li>
				<li>author: {{post.author}}</li>
				<li>dateCreated: {{post.dateCreated | date:'dd/MM/yyyy'}}</li>
				<li>dateModified: {{post.dateModified | date:'dd/MM/yyyy'}}</li>
			</ul>
			<!-- Post preview-->
			<div ng-show="view=='content' " id="postid-{{post.id}}" class="htmlPreview block grey postStyle" ng-bind-html-unsafe="post.css+post.content"> </div>
			<!-- Commentes preview-->
			<div ng-show="view=='coments' " class="block grey centrado">
				<p ng-show="!post.comments">No comments,sorry </p>
					<ul>
						<li ng-repeat="comment in post.comments"> 
							<!--{{comment}} -->
							<span class="mitad izquierda">{{$index}}.- <input class="name" ng-model="comment.name"> </span>
							<span class="mitad derecha txtright">{{comment.dateCreated | date:'dd/MM/yyyy' }}</span>
							
							<textarea class="content centrado" ng-model="comment.content"></textarea> 
							<button ng-click="deleteComment(post.id,$index)"><i class="icon-remove"></i>Delete</button>
						</li>
					</ul>
			</div>
			<p class="mitad izquierda"><b>STATUS:</b><span class="txtred"> {{sms}}</span></p>
			<button class="bt-blue"  ng-click="postData(post)"> Save it! </button>
		</article>
	</form>

	<!-- Social area config and buttons-->
	<section class="centrado block white">
		<article class="mitad izquierda block white">
			<p>Config: <b>Twitter</b> Account</p>

			<button ng-click="twitterAsk()">Join your account</button> 
			<input id="PINFIELD"></input><button ng-click="twitterJoin()"><i class="icon-twitter"></i>Insert pin to Join</button> 
			<p>----</p>
			<p>Config: <b>LinkedIN</b> Account</p>
			<script type="in/Login">
				<!-- <img src= <?js=pictureUrl ?> >	Hello, <b><?js= firstName ?></b> <?js= lastName ?>.-->
				<img src= <?js=pictureUrl ?> >	<b>DONE!!</b>
			</script>
			<button ng-click="linkedinLOAD()"><i class="icon-linkedin-sign"></i>Load Linekdin data</button>
	</article>
		
		<article class="mitad derecha block white">
			<p>Social Tools:<b>( {{140-(post.description.length)}} )</b></p>
			<p ng-init="tweetstatus='Waiting'">Tweet status:{{tweetstatus}}</p>
			<textarea class="centrado" maxlength="140" ng-model="post.description" ng-change="tweetstatus='writing'">
				
			</textarea>
			<button ng-click="post.description=post.description+' ... http://alextnodeblog.eu01.aws.af.cm/#/post/'+post.id">Add post URL to Text</button> 
			<button ng-click="twitterPOST(post.description)"><i class="icon-twitter"></i>Tweet it!</button> 
			<button ng-click="linkedinPOST(post.description)"><i class="icon-linkedin-sign "></i> LinkedIn it!</button> 
		</article>
	<section>
</section>
